BR2_arm=y
BR2_cortex_a8=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="/usr/local/arm/fs-toolchain-4.6.3-armv6-vfp"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_ENABLE_LOCALE_PURGE=y
# BR2_SOFT_FLOAT is not set
BR2_TARGET_GENERIC_HOSTNAME="armstonea8"
BR2_TARGET_GENERIC_ISSUE="Welcome to armStoneA8"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="ttySAC0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_38400=y
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/f+s/armStoneA8/final_script_min"
BR2_PACKAGE_BUSYBOX_CONFIG="board/f+s/common/busybox-1.19.x.config"
BR2_PACKAGE_IPROUTE2=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_NANDFLASH_2K_128K=y
BR2_TARGET_ROOTFS_UBIFS=y
# BR2_TARGET_ROOTFS_TAR is not set
